<!DOCTYPE html>
<html lang="pt-br" ng-app="meanContacts">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Contacts - AngularJS</title>
        <link rel="stylesheet" href="../../public/vendor/bootstrap/dist/css/bootstrap.min.css" media="screen">
        <link rel="stylesheet" href="../../public/vendor/bootstrap/dist/css/bootstrap-theme.min.css" media="screen">
        <style> * { outline: none !important; } </style>
    </head>
    <body>

        <div class="container">
            <a href="/auth/github">
                <h1>Entre pelo GitHub</h1>
            </a>
        </div>

    </body>
</html>